body {
  background-color: rgb(219, 219, 164);
  font: normal 15px arial;
}

header {
  color: white;
  text-align: center;
}

h1 {
  color: white;
}

#msg {
  text-align: center;
  font-size: 20px;
}

#foto {
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 5px rgb(49, 48, 48);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
